<h1>Book Detail</h1>
<p>
    Title: <%=book.title %> 
</p>
<p>
    Number of Pages: <%=book.pages  %> 
</p>
<p>
    Author: <%=book.author.firstname %> <%=book.author.lastname %>  

</p>
<p>
    Genre: <%=book.author.genre %> 
</p>